{% include 'parts/_nav.html' %}

<body>
  <!-- <div class="col-md-12 p-0 bg-info h-md-100">
    <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
        <div class="logoarea pt-5 pb-5">
            <h1>Upload Audio file</h1>
            <form method=post enctype=multipart/form-data>
                <input type=file name=file>
                <input type=submit value=Upload>
             </form>
        </div>
    </div> -->

  <div class="d-md-flex bg-secondary align-items-center h-100 p-10 text-center justify-content-center">
    <div class="container-fluid">
     <div class="text-light logoarea pt-5 pb-5">
      <h1>Input your keywords below</h1>
     </div> 
      <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
      </div>
  </div>
  </div>
  


</body>